<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список дел</title>
</head> 
<body>
    <div class="mycontact">
        <button (click)="togle = !togle" type="submit" class="btn btn-primary">create task</button> 
        <div *ngIf="togle">
            <div class="form-group">
              <label for="exampleInputEmail1">Название задания</label>
              <input 
                type="text" 
                class="form-control" 
                id="exampleInputEmail1" 
                aria-describedby="emailHelp"
                placeholder="Название"
                [(ngModel)]="todoName"
              >
              
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Категория</label>
                <input 
                  type="text" 
                  class="form-control" 
                  id="exampleInputEmail1" 
                  aria-describedby="emailHelp"
                  placeholder="Название категории "
                  [(ngModel)]="categoryName"
                >
              </div>
        
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Описание задания</label>
              <textarea 
                class="form-control" 
                id="exampleFormControlTextarea1" 
                rows="3"
                placeholder="Описание"
                [(ngModel)]="desc"
              ></textarea>
            </div>
            <a [routerLink]="['/']" 
              class="btn btn-primary"
              (click)="addTodo()"
            >Добавить</a>
          </div>
    </div>
    <hr>
    <div class="mycontact" (click)="togle2 = !togle2">
        <div class="card w-100">
            <div class="card-body" *ngFor="let todo of todos">
                <h5 class="card-title"><small style="color: green;">{{ todo.categoryName }}</small>  | {{ todo.todoName }}</h5>
                <p class="card-text">{{ todo.desc }}</p>
                <hr>
                <div *ngIf="togle2">
                <a 
                 class="btn btn-primary"
                 [routerLink]="['/']"
                >edit todo</a>
                <a [routerLink]="['/']" 
                   (click)="removeTodo(todo._id)" 
                   class="btn btn-danger" 
                   style="margin-left: 50px;"
                >delete</a>
                <div>
                  

            </div>
            
        </div>
        
    </div> 
    
<!-- </body>
</html> -->